@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>


<p>Jeopardy trivia game were the user must create an account, log in to play the game. User will be asked questions and given four choices to choose from. User has five tries before the game ends. Points are added as they play. High score list on home page shows to tem players with highest scores in descending order.</p>
