@{
    Layout = "";
}
<div class="myModal">
    <h3>Correct!!!</h3>
    <br />
    <br />
    <a href="/Game"><button class="btn-success btn btn-lg btn-default" id="correctAnswer">Next Question</button></a>
    <br />
    <br />
</div>


